# Исключаем временные и чувствительные файлы
secrets/*.auth
secrets/*.log
secrets/*.gpg
__pycache__/
*.pyc
*.swp
*.bak
*.tmp
.env

# Кэш и временные каталоги
*.cache
.cache/
tmp/
logs/

# Python tooling
*.pyo
*.pyd
.venv/
venv/

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yml
